<br>
<br>
<br>
<h2>Your review</h2>
<br>
<h4>"<%= @review.comment %>"  by <%= @review.user.username %></h4>
<br>


<% if @review.user == current_user %>
  <%= link_to "Edit Review", edit_review_path(@review)%>
<% end %>